.main_div{
	margin: 2% 10% 0% 10%;
	background-color: #352929;
}

.sub_div_1, .sub_div_2{
	display: flex;
	justify-content: space-around;
	background-color: red;
}

.sub_div_1 div, .sub_div_2 div{
	margin-top: 4%;
	margin-bottom: 4%;
}

.security_info, .personal_info, .shop_info, .payment_info, .other_info, .other_info_2{
	padding: 2% 10% 2% 10%;
	display: flex;
	justify-content: center;	
}

a{
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 100%;
  	border-radius: 25px;
}

a:hover{
/*	background-color: red;*/
}