.main_div {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.div_logo {
  background-color: grey;
  margin-left: 5%;
  display: flex;
}

.rating_area{
  background-color: grey;
  margin-left: 5%;
  width: 20%;
  height: 90%;
}

.barber_div, .shop_div{
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating_category_name{
  width: 40%;
  text-align: center;
  font-weight: bold;
}

.rating_category_name:hover{
  font-size: 120%;
  color: red;
}

.rating_category_rating{
}