.content_main_div{
	margin: 2% 10% 0% 10%;
}

.content_sub_div_1, .content_sub_div_2{
	display: flex;
	justify-content: space-between;
	background-color: #322424;
}

.content_sub_div_1 div, .content_sub_div_2 div{
	margin-top: 4%;
	margin-bottom: 4%;
}

.security_info, .personal_info, .shop_info, .payment_info{
	padding: 2% 10% 2% 10%;
	margin-left: 10rem;
	margin-right: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

a{
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 50%;
}

a:hover{
	text-decoration: underline;
}