.profile_main_div {
  width: 100%;
  height: 90px;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div_logo {
  display: flex;
  gap: 2px;
}

.rating_area{
  width: 20%;
  height: 90%;
}

.barber_div, .shop_div{
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating_category_name{
  width: 40%;
  text-align: center;
  font-weight: bold;
}

.rating_category_name:hover{
  font-size: 120%;
  color: red;
  cursor: pointer;
}

.rating_category_rating{
}

.shopstatus_area{
  height: 40%;
  width: 10%;
}

.shopstatus_area button{
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  background-color: grey;
  border-radius: 20px;
  border: none;
}

.shopstatus_area_green button{
  background-color: green;
}

.shopstatus_area_black button{
  background-color: black;
}

.logout_area{
  margin-right: 5%;
  height: 40%;
  width: 10%;
}

.logout_area button{
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  background-color: grey;
  border-radius: 20px;
  border: none;
}