.about_main_div {
  width: 100%;
  padding-top: 2%;
  display: block;
  text-align: center;
}

.about_main_div h3{
  font-size: 300%;
}

.about_main_div h3,
.about_main_div h5{
  margin-top: 0;
  margin-bottom: 0;
}

.about_main_div a{
  color: white;
  font-weight: bold;
  padding: 0px;
  margin-left: 49%;
  text-decoration: none;
}