.main_div{
	top: 0;
	position: fixed;
	width: 100%;	
	background-color: grey;
}

.home_div{
	width: 100%;
	padding: 1%;
	display: flex;
	justify-content: center;
	background-color: black;
}

.instruction_div{
	width: 100%;
	height: fit-content;
	display: flex;
	background-color: red;
}

.next_div{
	width: 100%;
	padding: 1%;
	display: flex;
	justify-content: center;
	background-color: blue;
}