.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control,
.control input {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}

.action button {
  width: auto;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}

.action button:hover {
  background-color: #540d83;
  border-color: #540d83;
}